body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: beige;
  
   
   
}
html{
  font-size: 62.5%;
  opacity: 3s;
  
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
